{% extends 'base.html' %}

{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <p class="large admin-msg-box text-center">
            Używasz hasła nadanego przez administrację.<br>
            Jeśli wolisz używać własnego hasła,<br> możesz je zmienić teraz lub później.
        </p>
    </div>

    <div class="container d-flex flex-column align-items-center">
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-dark">Zmień hasło</button>
        </form>
    </div>

{% endblock %}