<html>
    <h3>
        Cześć, {{ user_first_name }}!
    </h3>
    <p>
        Masz już dostęp do serwisu CMMS firmy DACPOL.
        <br>
        Jest on dostępny pod adresem: <a href="https://cmms.dacpol.eu">cmms.dacpol.eu</a>
    </p>
    <p>
        Oto twój login i hasło:
        <br>
        LOGIN: <b>{{ user_email }}</b>
        <br>
        HASŁO: <b><span style="color: red">{{ user_password }}</span></b>
    </p>
    <p>
        Przyjemnego korzystania z serwisu,<br>
        Administracja DACPOL CMMS
    </p>
</html>
