{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <div class="box">
            <div class="box-header">
                <span class="fs-5">Resetowanie hasła</span>
            </div>
            <div class="box-body flex-column p-5">
                {% if validlink %}
                    <form method="post" class="auth-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-dark">Zmień hasło</button>
                    </form>
                {% else %}
                    <p>
                        Link do resetowania hasła jest niepoprawny. Prawdopodobnie już został użyty i jest już nieaktywny.
                        <a href="{% url 'password_reset' %}">Tutaj</a> możesz ponownie zażądać zresetowania hasła.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}