{% extends 'base.html' %}

{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <div class="box">
            <div class="box-header">
                <span class="fs-5">Resetowanie hasła</span>
            </div>
            <div class="box-body flex-column p-5 justify-content-center large">
                <p>
                    Twoje hasło zostało pomyślnie zmienione.
                </p>
                <p>
                    Teraz możesz <a href="{% url 'login' %}">się zalogować</a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}